# general things to ignore
/.tscache
/.eslintcache
/.idea
/bundles/
/build/
/dist/
/storybook-static/
/dist/tsconfig.tsbuildinfo
/dist_python/
/lib/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
# due to using tox and pytest
.tox
.cache
node_modules/
/src/**/*.js
/tests/**/*.js
/src/**/*.map
/tests/**/*.map 
*.css
/package-lock.json
/yarn.lock
# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions