alembic==1.7.6
fastapi==0.73.0
flask-smorest==0.30.0
flask-swagger-ui==3.36.0
Flask==1.1.4
json-cfg==0.4.2
marshmallow-sqlalchemy==0.26.1
marshmallow==3.14.1
numpy==1.22.3
openpyxl==3.0.5
pandas==1.4.1
Pillow==8.3.2
pydantic==1.9.0
pyjwt==2.1.0
pymongo==4.0.2
python-memcached==1.59
python-multipart==0.0.5
requests==2.27.1
SQLAlchemy==1.4.32
urllib3==1.26.8
yamlreader==3.0.4
# Pin docutils to avoid AttributeError: 'Values' object has no attribute 'section_self_link'
docutils==0.17.1
# Pin markupsafe to avoid ImportError: cannot import name 'soft_unicode' from 'markupsafe' (/usr/local/lib/python3.7/site-packages/markupsafe/__init__.py) 
markupsafe==2.0.1