/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(108, 117, 125, 0.2);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(108, 117, 125, 0.55);
  transition: background-color 5s;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(108, 117, 125, 0.65);
}
