body,
html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

th,
label,
strong,
b,
.label {
  font-weight: 500 !important;
}

.form-inline .form-group {
  margin-right: 15px;

  label {
    margin-right: 5px;
  }
}

.form-horizontal.form-group-sm .form-group {
  margin-bottom: 5px;
}

/**
 * Hide options menu
 */

li[data-header=optionsLink] {
  display: none;
}

.sync-indicator {
  color: inherit;
  transition: color ease .2s;

  &.active {
    color: blue;
  }
}

.dropdown-label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap;
}

.toast-container {
  $move_animation: 0.5s;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
  transition: top $move_animation ease-out;

  &:empty {
    display: none;
  }

  &.push {
    transition: none;

    > .alert:first-of-type {
      opacity: 0;
    }
  }

  > .alert {
    transition: opacity 0.5s linear $move_animation;
    min-width: 40%;
    margin-bottom: 2px;
  }
}

.#{$tdp-css-prefix}-busy,
.#{$tdp-css-prefix}-busy-overlay {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: $tdp-busy-background;
    z-index: 9;
  }

  &[data-busy]::after {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    text-align: center;
    content: attr(data-busy);
    z-index: 10;
  }
}

.#{$tdp-css-prefix}-busy > * {
  display: none !important;
}

.#{$tdp-css-prefix}-busy-overlay > * {
  visibility: hidden !important;
}
