@import '~phovea_ui/src/fonts/yantramanav';
@import './vars';

body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

th,
label,
strong,
b,
.label {
  font-weight: 500 !important;
}

.form-inline .form-group {
  margin-right: 15px;

  label {
    margin-right: 5px;
  }
}

.form-horizontal.form-group-sm .form-group {
  margin-bottom: 5px;
}

/**
 * Hide options menu
 */
li[data-header=optionsLink] {
  display: none;
}

.sync-indicator {
  color: inherit;
  transition: color ease .2s;

  overflow: hidden;
  max-width: 10em;
  text-overflow: ellipsis;

  &.active {
    color: blue;
  }
}

.toast-container {
  $move_animation: 0.5s;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
  transition: top $move_animation ease-out;

  &:empty {
    display: none;
  }

  &.push {
    transition: none;

    > .alert:first-of-type {
      opacity: 0;
    }
  }

  > .alert {
    transition: opacity 0.5s linear $move_animation;
    min-width: 40%;
    margin-bottom: 2px;
  }
}

.#{$tdp-css-prefix}-busy {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: $tdp-busy-background;
    z-index: 9;
  }

  > * {
    display: none !important;
  }
}
