
.parameters.form-inline .form-horizontal {

  .form-control {
    display: block;
    margin-right: 0;
    width: 100%;
  }

  .form-group {
    display: block;
    margin-right: 0;
    margin-left: 0;

    > div {
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}

.parameters.form-inline {
  div > label.radio-inline {
    padding-left: 30px;
  }
}

.select.map-selector option:disabled {
  color: darkgray;
}

span.filter-facet-tooltip-enabled {
  &::after {
    @include fa-icon();
    content: $fa-var-info-circle;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 1px;
  }
}


span.filter-facet-tooltip-disabled {
  display: none;
}
