@import './vars';

svg {
  // generic axes styles
  path,
  .axis path,
  line,
  .axis line {
    fill: none;
    stroke-width: 1;
    stroke: black;
    shape-rendering: crispEdges;
  }
}

.#{$tdp-css-prefix}-view {
  &.multiple {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
  }

  &.busy {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.26) url('~phovea_ui/src/assets/caleydo_c_anim.svg') no-repeat center center;
      z-index: 9;
    }
    > * {
      display: none;
    }
  }

  &.proxy_view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }
  }


  &.lineup {
    &.nodata::before {
      margin-top: 40px;
      content: 'No data found for selection and parameter.';
    }
  }

  div.lu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    .row.selected rect.bg {
      stroke: $select-data-color;
      stroke-width: 1;
    }
    .row.hover rect.bg {
      stroke: $hover-data-color;
      stroke-width: 1;
    }

    .rankingbuttons .dropdown-menu {
      padding: 0;

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

@at-root {
  @import "~lineupjs/src/styles/engine";
}
