@import './vars';

svg {
  // generic axes styles
  path,
  .axis path,
  line,
  .axis line {
    fill: none;
    stroke-width: 1;
    stroke: black;
    shape-rendering: crispEdges;
  }
}

.#{$tdp-css-prefix}-view {
  &.multiple {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
  }

  &.busy {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.26) url('~phovea_ui/src/assets/caleydo_c_anim.svg') no-repeat center center;
      z-index: 9;
    }
    > * {
      display: none;
    }
  }

  &.proxy_view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    p {
      flex: 0 0 auto;
      margin: 0.5em;
    }

    iframe {
      margin: -1px; // to fix some corner case regarding positioning
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  @import './view_lineup';
  @import './view_table';
}
