@import './vars';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

&.lineup {
  display: flex;
  flex-direction: row;
  height: 100%;

  .lu-row {
    line-height: 1;
  }

  > div {
    flex: 1 1 auto;
    position: relative;
  }

  &.overview-detail {
    > div {
      display: flex;
      flex-direction: column;

      > header {
        flex: 0 0 auto;
      }

      > div {
        flex: 1 1 auto;
        position: relative;
      }
    }

    header.overview {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
    }
  }
}

.lu-dialog {
  label: {
    margin: 0;
  }

  &.lu-filter-table > div:first-of-type > * {
    flex: 0 0 auto;
  }
}

.lu-collapser {
  display: none;
}

.lineup-engine {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;

  > header {
    padding-bottom: 1px; // no idea otherwise scrollbar
  }

  footer {
    display: block !important;
  }
}

$lu_assets: '~lineupjs/src/assets';

@at-root {

  .tdp-ranking-export-form {
    user-select: none;
    -moz-user-select: none;

    .radio {
      margin-left: 1em;
    }
  }

  .tdp-ranking-export-form-handle {
    > span {
      visibility: hidden;
      padding: 0 0.5em 0 1em;
      cursor: grab;
    }

    &:hover > span,
    &.dragging > span {
      visibility: visible;
    }

    &.dragging {
      border: 1px solid lightgray;
      border-radius: 3px;
      cursor: grabbing;
    }
  }

  .lu-side-panel > main > section::before {
    content: 'Column Summaries';
  }

  .lu-hierarchy .lu-search::before {
    height: 19px;
  }

  .tdp-view-lineup.lu-side-panel {
    flex: 0 0 auto;
    position: relative;


    %lu-panel-button {
      background: #fff;
      border: 1px solid #ddd;
      padding: 5px 10px;
      cursor: pointer;
      z-index: 1;
      color: #000;

      &:hover {
        background-color: #eaeaea;
      }
    }

    > section {
      flex: 0 0 auto;
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
      flex-wrap: wrap;

      button {
        @extend %lu-panel-button;
      }
    }

    label, input {
      font-weight: normal;
      margin: 0;
    }

    > div.lu-adder {
      margin-top: 1em;

      > button {
        @extend %lu-panel-button;

        display: none;
      }
    }

    > a {
      @extend %lu-panel-button;

      position: absolute;
      left: 0;
      top: 0;
      width: 2em;
      height: 2em;

      &::before {
        @include fa-icon();
        content: $fa-var-arrow-right;
      }
    }

    button[data-violation] {
      position: relative;
      color: #FFD700;

      &::before {
        content: $fa-var-exclamation-triangle;
      }

      &::after {
        content: attr(data-violation);
        color: black;
        text-align: left;
        background: lighten(#FFD700, 45%);
        hyphens: manual;
        padding: 5px;
        width: 12em;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 100;
        pointer-events: none;
        opacity: 0;
        display: none;
        transition: visibility 0s ease 0.3s, opacity 0.3s ease 0s;
      }

      &:hover::after {
        opacity: 1;
        display: block;
        transition-delay: 0s, 0.3s;
      }
    }

    &.collapsed {
      max-width: 3em;
      min-width: 0;

      > a {
        width: 100%;
        order: 1;

        &::before {
          content: $fa-var-arrow-left;
        }
      }

      > section {
        order: 3;
        flex-direction: column;
        margin-right: 0;
      }

      > div,
      > .lu-stats,
      > header,
      > main {
        display: none;
      }

      > div.lu-adder {
        order: 2;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        border: none;
        margin-top: 3em;

        &:not(.once) .lu-search {
          display: none;
        }

        > button {
          display: block;
        }

        &.once::before {
          content: '';
          top: -10px;
          left: -15em;
          right: 0;
          bottom: -10px;
          position: absolute;
        }

        &.once .lu-search {
          position: absolute;
          top: 1.8em;
          width: 17.5em;
          left: -15em;
          z-index: 2;

          > ul {
            max-height: 50vh;
          }
        }
      }

      .gap {
        margin-top: 1em;
      }
    }
  }

  .lu-sidepanel-top-form {
    display: flex;

    > p {
      flex: 1 1 0;
    }
  }

  .lu-side-panel-top.tdp-view-lineup.lu-side-panel.collapsed {
    display: inline-flex;
    flex-direction: row;
    z-index: 100;
    max-width: unset;
    width: unset;
    float: right;

    > section {
      flex-direction: row;
      max-width: unset;
    }

    .gap {
      margin-top: unset;
      margin-left: 1em;
    }

    > div.lu-adder {
      margin-top: 0;

      &.once .lu-search {
        left: -1.2em;
      }

      &.once::before {
        content: '';
        top: -10px;
        left: -2.5em;
        right: -15em;
        bottom: -3em;
        position: absolute;
      }
    }
  }
}
