<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>tdp_core</title>
    <meta name="description" content="" />
    <link href="<%=require('../assets/icons/datavisyn_logo.svg')%>" rel="icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>

  <body>
    <%=require('../template/_body.html')%>

    <div id="main" style="height: 100vh; display: flex; flex-direction: column"></div>
  </body>
</html>
