$phovea_layout_separator_color: #e1e1e1 !default;
$phovea_layout_separator_hints: #a3a3a3 !default;
$phovea_layout_view_header: #dedede !default;

$phovea_layout_tab_header: inherit !default;
$phovea_layout_active_tab_header: white !default;

$phovea_layout_dropper_background: rgba(0, 0, 0, 0.25) !default;
