$datavisyn_css_prefix: 'datavisyn' !default;
$datavisyn_font_size_base: 14px !default;
$datavisyn_line_height_base: 1 !default;
$datavisyn_font: Monda !default;

@mixin datavisyn-font() {
  font: normal normal normal #{$datavisyn_font_size_base}/#{$datavisyn_line_height_base} $datavisyn_font; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@-webkit-keyframes #{$datavisyn_css_prefix}-pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

nav.navbar,
nav.navbar-inverse {

  .navbar-brand.caleydo_app {
    background: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin-left: 0.8em;

    &:before {
      height: 14px;
      width: 20px;
      background: url('~tdp_core/dist/assets/icons/datavisyn_logo.svg') no-repeat top left;
      content: '';
      margin-top: -2px;
    }
  }
}

nav .navbar-nav {
  margin-top: 0.2em;
}

.#{$datavisyn_css_prefix}-font {
  @include datavisyn-font();
  line-height: 1.42857;

  &[data-style=black] {
    background: black;
    border-radius: 2px;
    padding: 0.1em 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: white;
  }
}

@keyframes #{$datavisyn_css_prefix}-pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/*
.#{$tdp-css-prefix}-busy {
  &::before {
    @include datavisyn-font();
    animation: #{$datavisyn_css_prefix}-pulse 2s infinite alternate ease;
    content: 'd';
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at center, black 0%, black 10%, white 12%, white 10%);
  }
}
*/
